.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    top: 0;
    position: relative;
    background-color: #11002b;
}

button:hover{
    transform: scale(1.07);
}

.header_center{
    display: flex;
    flex:1;
    /* align-items: center; */
    max-width: fit-content;
    /* justify-content: space-between; */
    font-weight: bold;
    margin: top 2%;
    gap: 2rem;
    color: antiquewhite;
}

.header_logo{
    width: 100px;
    height: 100px;
    margin-left: 2%;
    /* margin-top: 5%; */
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-right: 2%;
}

.header_sign_button{
    color:antiquewhite;
    font-weight: bold;
    background-color: transparent !important;
    margin-right: 2% !important;
    width: 6rem;
    height: 5rem;
    border-style: none;
    text-align: center;
}

.header_button{
    border: none;
    text-align: center;
    border-radius: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;
}